$fontSize: 14px;
$fontSizeSm: 8px;
$fontSizeLg: 20px;

$colorPrimary: #00E676;
$colorPrimaryLight: #69F0AE;
$colorPrimaryDark: #00C853;
$colorSecondary: #00E676;
$colorSecondaryLight: #00E676;
$colorSecondaryDark: #00E676;

$spaceSm: 0.5rem;
$spaceMd: 1rem;
$spaceLg: 1.5rem;
